<div class="row">
  <div class="col-12 text-center">
    <h3>Profile</h3>
    <hr>
    <h4><%= gravatar_for @user %></h4>
    <h4>Name: <%= @user.first_name %></h4>
    <h4>Email: <%= @user.email %></h4>
  </div>
</div>
