<h1>Friends</h1>
<div class="row">
  <% @friendships.each do |friendship| %>
    <div class="col-sm-5 col-sm-offset-3">
      <h3><%= friendship.first_name %></h3>
      <%= link_to "Remove Friend", friendship_path(friendship), :method => :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
