<h1>All Posts</h1>
<% @posts.each do |post| %>
  <%= link_to post.user.first_name, user_path(post.user) %><br>
  <strong>Title: </strong><%= post.title %><br>
  <strong>Content: </strong><%= post.content %>
  <hr>
<% end %>
